<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PS4 GAMES</title>
    <link rel="stylesheet" type="text/css" href="/static/css/micss.css">
    <link rel="icon" href="/static/css/luffy.ico" type="image/x-icon">
  </head>
  <body>

    <div class="portada">
      <br>
      <h1 style = "color:white; padding-top:8%">  Todos los juegos en menos de 24 horas en casa</h1>
      <br>
      <a style="text-align:right" href="/PS4_Games_Store"><h2>INICIO</h2></a>
    </div>
{% block content %}
{% endblock %}
    <footer><h5><a href="https://github.com/Martinnello/2019-2020-LTAW-Practicas">GitHub Alvaro Martin Menacho</a></h5>
    </footer>
  </body>
</html>
