{% extends "cabecera_pie.html" %}
{% load staticfiles %}
{%block content%}

    <form  action="/PS4_Games_Store/factura/" method="post">
      {% csrf_token %}
      <center>
        <h2>  Producto Solicitado: </h2>
        <div style = "text-align:center">
            <h3>Datos recibidos!! Comprador: {{Email}} / Producto solicitado: {{Item.nombre}}</h3><br><br>
            <h4> Nos pondremos en contacto contigo para proceder al pago! </h4>
        </div>
      </center>
    </form>

{%endblock%}
