{% extends "cabecera_pie.html" %}
{% load staticfiles %}
{%block content%}

    <div class="products">
      <br><br><br>
      <h2>  Productos: </h2>
      <a href="carrito"> <img src="{% static 'Img/carrito.png'%}" width="40" height="40" align="right" z-index="-1" position="fixed"> </a>
      <div style = "text-align:center">
        <ul>
        {% for item in Items %}
            <a href="{{item.path}}"><img src="{% static item.imagen %}" width="200" height="300"></a>
        {% endfor %}
        </ul>
      </div>
{%endblock%}
